<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Új könyv</title>
</head>
<body>
    <a href="/">Vissza a főoldalra</a>
    <form method="post">
        <p>
            Cím: <input type="text" name="title" required>
        </p>
        <p>
            Értékelés: <input type="number" name="rating" min="1" max="5" required>
        </p>
        <input type="submit" value="Felvétel">
    </form>
</body>
</html>
